---
import HomeLink from "./HomeLink.astro";
import HamburgerMenu from "./SideMenu.tsx";

interface Home {
	name: string;
	url: string;
}

interface Props {
	subHome?: Home;
}

const { subHome } = Astro.props;
---

<header class="p-4">
	<nav class="flex justify-between">
		<div class="flex gap-2 items-center">
			<HomeLink />
			{subHome && (
				<span class="text-xl font-medium text-gray-300">/</span>
				<a href={subHome.url} class="font-medium text-gray-700 text-2xl no-underline">{subHome.name}</a>
			)}
		</div>
		<HamburgerMenu client:load />
	</nav>
</header>
