---
const { meImage = "/me.jpeg" } = Astro.props;
---

<a href="/" class="relative inline-block w-10 aspect-square rounded-full overflow-hidden shadow-neumorphism">
    <img src={meImage} alt="Author's 3D icon" class="w-full h-full object-cover"/>
</a>